<form [formGroup]="addPayeeForm" (ngSubmit)="submitForm($event)">
    <p>Add Payee Comp</p>
    <div>
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" />
    </div>
    <div>
        <label for="dayOfMonthDue">Day Of Month Due</label>
        <input type="number" class="form-control" id="dayOfMonthDue" min="1" max="31">
    </div>
    <div>
        <label for="category">Category</label>
        <select id="category" class="form-control">
            <option *ngFor="let ct of categoryTypes | keys" value="{{ct.key}}">{{ct.value}}</option>
        </select>
    </div>
    <button type="button" class="btn btn-danger" (click)="cancelClick()">
        <i class="glyphicon glyphicon-remove"></i> Cancel
    </button>
    <button type="submit" class="btn btn-primary">
        <i class="glyphicon glyphicon-ok"></i> OK
    </button>
</form>